@media only screen and (max-width: 1024px) {
    #text {
        overflow: hidden;
        padding: 30px 60px;
        top: 12%; /* Adjusted position */
        left: 2%; /* Adjusted position */
        height: 90%; /* Adjusted height */
        width: 50%;
    }
    #text>h1{
        font-size: 50px;
        line-height: 1;
    }
    #text>h4{
        margin-top: 20px;
        font-size: 20px;
    }
    #center-nav{
        margin-left: 15%;
    }
    #buttons{
        position: absolute;
        margin-left: 30px;
        bottom: 5%;
        height: 20%;
        width: 50%;
    }
    #text1{
        margin: 15px 10px;
        padding-right: 30px;
        height: 90%;
        color: #06ab25;
        width: 60%;
        position: absolute;
        /* border: 2px solid #06ab25; */
    }
    #page1>#left{
        position: absolute;
        right: 0%;
        height: 90%;
        width: 35%;
        top: 50%;
        transform: translateY(-50%);
    }
    #left>.box{
        color: #06ab25;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        height: 32%;
        width: 100%;
        border-top: 2px solid #000;
    }
    #left>.box>h1{
        position: absolute;
        padding: 0% 15%;
        font-size: 30px;
    }
    .circle{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6vh;
        width: 6vh;
        background-color: #06ab25;
        border-radius: 50%;
        outline: #000;
    }
    .circle>i{
        color: #fff;
        font-size: 25px;
    }
    .c1{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 6vh;
        width: 6vh;
        background-color: #000000;
        border-radius: 50%;
    }
    .c1>i{
        color: white;
        font-size: 20px;
    }
    #text2{
        margin-left: 10px;
        margin-top: 10px;
        font-size: 14px;
        height: 20%;
        width: 30%;
        scale: 1.1; 
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 5%;
        left: 5%;
        display: flex;
        /* border: 2px solid black; */
    }
    #testimonials{
        align-items: center;
        justify-content: space-between;
        display: flex;
        height: 50%;
        width: 90%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 5%;
    }
    .test{
        border-top: 2px solid black;
        /* border: 2px solid black; */
        height: 100%;
        width: 31%;
    }
    #test1{
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        padding: 0px 0px;
        height: 30%;
        width: 100%;
        /* border: 2px solid black */
    }
    #test1>h2{
        /* margin-right: 5px; */
        margin-left: 30px;
        align-items: center;
    }
    #testimage{
        height: 70%;
        width: 100%;
        /* border: 2px solid black; */
        /* background-image: url(https://media.istockphoto.com/id/638510752/photo/business-decision-concept.jpg?s=1024x1024&w=is&k=20&c=szFB5NXja2k_U05OiHIeeOQfx4oUMglpK_BBRDV_SZU=); */
        background-size: cover;
    }
    #testimage>ul {
        list-style-type: disc;
        font-size: 25px;
        font-weight: bold;
        padding: 0;
        margin: 0;
        text-align: left;
    }
    
    li {
        margin-left: 10%;
        margin-bottom: 10px;
        color: black;
    }
    .t1{
        position: relative;
        top: -20%;
    }
    .t2{
        position: relative;
        top: -38%;
    }
    .t3{
        position: relative;
        top: -68%;
    }
}